[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
gf-lib = {editable = true, file = "file:///Volumes/LaCie/Dev/Good_Fundamentals/code/libs/gf_lib"}
loguru = "*"
typer = "*"
luigi = "*"
python-dotenv = "*"
dnspython = "*"
pymongo = "*"
pendulum = "*"
beautifulsoup4 = "*"
orjson = "*"

[dev-packages]
pytest = "*"

[requires]
python_version = "3.10"
