# *******************************************************************************************
#  File:  luigi-dev
#
#  Created: 09-05-2022
#
#  Description: This file configures the luigi framework
#
#  Copyright (c) 2022 James Dooley <james@dooley.ch>
#
#  History:
#  22-04-2022: Initial version
#
# *******************************************************************************************

[core]
logging_conf_file = config/logging.cfg
log_level = INFO

[ConfigDatabase]
url=mongodb://localhost:27017
database=good_fundamentals_prod
